@import '../../colors';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid $borderColor;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  color: $textColor;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    color: $accentColor;
    border: 2px solid $accentColor;
  }

  &.active {
    background-color: $accentColor;
    border: 2px solid $accentColor;
    color: white;
    cursor: default;
  }
}

.page-item {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    color: $textColor;
    transition: all 0.3s ease;
    transform: translateY(1px);
    cursor: pointer;

    &:hover {
      color: $accentColor;
    }
  }
}

.dots {
  font-weight: 900;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 30px;
  height: 30px;
  color: $textColor;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
