.description {
  padding: 0 40px;
  font-size: 20px;
  color: $textColor;
}

.close {
  border-radius: 50%;
  border: none;
  background-color: $accentColor;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: darken($color: $accentColor, $amount: 10%);
  }
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  margin: 20px 0;
}

.label {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 24px;
}