* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('bg.jpg');
  font-family: 'Comic Neue';
  font-size: 18px;
}

li {
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px;

  @media (max-width: 533px) {
    padding: 10px;
  }
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;

  @media (max-width: 533px) {
    padding: 15px;
  }
}
